<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='ahorcadoEstilo.css'>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    
</head>
<body>
    <div class="contenedor">

        <div class="ahorcado">

            <img src="img/ahorcado2.gif" alt="">
        </div>


        <div class="palabras">
            <!-- Aqui van los espacios de las palabras-->

        </div>


        <div class="alfabeto">
            <!-- Aqui van los botones con las letras-->
        </div>

    </div>


    <script src='ahorcadoJS.js'></script>
</body>
</html>