body{
    background-color:teal;  
}

.contenedor{
    margin-top: 30px;
}
.contenedor .palabras{
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
    color:yellow;
}
.contenedor .alfabeto{    
    text-align: center;    
}

.contenedor .palabras .letra{
    display: inline;
    margin: 5px;
}



.botones{
    margin: 2px;
    display: inline;
}

#animation_container {
	position: relative;;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
	left:0;right:0;
	top:0;bottom:0;
}

canvas{
    width: 100% !important;
    height: 100% !important;
}

.materias{
    width: 300px;
    height: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
}